.dialogs {
    display: flex;
}

.dialogsItem {
    padding: 10px;
}

.messages {
    padding: 10px;
}

.active {
    color: gold;
}

.text_area {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.postsButton {
    background-color: brown;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    border: none;
}


